# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Environments

.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env
firebase.json
deployed.yml
# Logs
*.log

# VSCode/IDE
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
env
# Databases
*.sqlite3
.env
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
/qrcodes
deploy.yml
deploye.yml